<script></script>

<div class="maindiv">
  <div class="leftdiv">
    <h1></h1>
    <div class="leftimg1">
      <img class="imageClass" src="./assets/image/98-layers.png" />
      <div>
        <img class="imageClass1" src="./assets/image/43-layers.png" />
        <div class="paragraphRight">
          The Anthem Health Care Management Division has a singular dynamic
          focus - to continually improve the system of health care delivery that
          influences utilization and cost of services and measures performance.
          Medical Management includes a collection of processes that help to
          optimize the cost of quality care by effectively facilitating the
          right care interventions to the right members, at the right time, and
          in the right setting.
        </div>
      </div>
      <div class="paragraphDown">
        <p>
          Case Assist - A AI based UM Intake system automated using context-aware speech-to-text eliminates the human
interference on payer side, by using a speech recognition system wherein the chatbot interacts with the users.
During this process, the data will also go through the validation like Member validation.
The system will prompt the provider to provide correct data/additional data until it is successfully validated
and case is created successfully.<br />
        </p>
        
      </div>
    </div>
  </div>

  <div class="rightdiv" style="width:33%;height:500px;">
    <div class="rightimg1">
      <img class="image3" src="./assets/image/16-layers.png" />
    </div>
    <Chat-bot
      class="chat-window"
      [serviceid]="
        '0AwytEuZlWShosO28uNtibIvw9onUxxN8lBLPpLuYIqBD5uu0j7QxZWkrpN0sJxD'
      "
      [msg]="msg"
      [msgTemplate]="message"
      [inputTemplate]="input"
      (onMsgReceive)="onMsgReceive($event)"
    >
      <ng-template #window> </ng-template>
    </Chat-bot>

    <ng-template
      #message
      let-text="text"
      let-object="object"
      let-sendBy="sendBy"
      let-options="options"
    >
      <chat-msg
        [msg]="{ text: text, sendBy: sendBy, options: options }"
      ></chat-msg>
    </ng-template>
    <ng-template #input>
      <chat-input (msgToRoot)="msgFromChatInput($event)"></chat-input>
    </ng-template>
  </div>
</div>
